.form__input-text {
  margin: 0 0 20px 0;
  width: 100%;
}

.form__input-text:last-of-type {
  margin-bottom: 49px;
}

@media (max-width: 545px) {
  .form__input-text {
    margin: 0 0 21px 0;
  }
  .form__input-text:last-of-type {
    margin-bottom: 44px;
  }
}
