.profile__profession {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2222222222;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  flex: 1 0 auto;
}

@media screen and (max-width: 800px) {
  .profile__profession {
    font-size: 16px;
  }
}

@media screen and (max-width: 545px) {
  .profile__profession {
    grid-row: 3/4;
    grid-column: 1/2;
    font-size: 14px;
    line-height: 1.214;
    margin: 0 0 26px 0;
    padding: 0;
  }
}