.cards-block {
  padding: 20px 0 47px 0;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 32.0454545455%);
  grid-template-rows: repeat(auto-fit, min-content);
  grid-auto-rows: min-content;
  row-gap: 21px;
}

@media (max-width: 800px) {
  .cards-block {
    max-width: 640px;
    padding: 20px 0 36px 0;
    grid-template-columns: repeat(2, 48.8888888889%);
  }
}

@media (max-width: 545px) {
  .cards-block {
    display: block;
    max-width: 360px;
    padding: 20px 19px 26px 19px;
  }
}