.profile__edit-button {
  flex: 0 0 auto;
  align-self: flex-end;
  border: 0;
  border-radius: 0;
  outline: none;
  margin: 0 0 7px 0;
  padding: 0;
  width: 26px;
  height: 26px;
  background: transparent url(../../../images/edit-button.svg) 100% 0 no-repeat;
  background-size: 24px 24px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

@media (min-width: 545px) {
  .profile__edit-button:hover {
    opacity: 0.6;
  }
}

@media (max-width: 545px) {
  .profile__edit-button {
    width: 19px;
    height: 19px;
    background-size: 17px 17px;
    margin: 0 0 10px 0;
  }
}