.input-text {
  padding: 9px 0;
  outline: none;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: inherit;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  transition: all 0.3s ease 0s;
}

.input-text:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.input-text:focus {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.input-text::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.input-text::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.input-text::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
