.profile__name {
  display: inline-block;
  margin: 0;
  padding: 21px 0 0 9px;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

@media (max-width: 800px) {
  .profile__name {
    font-size: 35px;
    line-height: 1.2;
  }
}

@media (max-width: 545px) {
  .profile__name {
    font-size: 27px;
    line-height: 1.2222;
    margin: 0 0 5px 0;
    padding: 10px 0 0 9px;
  }
}
