.cards-block {
  padding: 10px 0 47px 0;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .cards-block {
    padding: 20px 0 36px 0;
  }
}

@media (max-width: 545px) {
  .cards-block {
    padding: 20px 19px 26px 19px;
  }
}
