.form__input-text {
  position: relative;
  z-index: 1;
  outline: none;
  margin: 0;
  width: 100%;
  padding: 9px 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: inherit;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  transition: all .3s ease 0s;
}

.form__input-text:hover {
  border-color: rgba(0, 0, 0, .6);
}

.form__input-text:focus {
  border-color: rgba(0, 0, 0, 1);
}

.form__input-text::placeholder {
  font-family: inherit;
  color: rgba(0, 0, 0, .3);
}