.card__text {
  grid-row: 2/3;
  grid-column: 1/2;
  padding: 11.5% 0 11% 9%;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2083333333;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  transition: all .3s ease 0s;
}
