.popup__title {
  padding: 0;
  margin: 0 0 40px 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2083;
}

@media (max-width: 545px) {
  .popup__title {
    font-size: 18px;
    line-height: 1.2222;
    margin: 0 0 66px 0;
  }
}
