.card
{
  padding: 0;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 21.9858156%;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  column-gap: .1%;
  transition: all .3s ease 0s;
}

@media screen and (min-width: 545px)
{

  .card:hover .card__picture::before
  {
    opacity: .1;
  }

  .card:hover .card__trash-button
  {
    opacity: 1;
  }

  .card:hover .card__trash-button:hover
  {
    opacity: .6;
  }
}