.header__icon {
  margin: 0 0 29px 0;
  padding: 0;
  max-width: 142px;
  max-height: 33px;
}

@media (max-width: 800px) {
  .header__icon {
    max-height: 28px;
    margin: 0 0 22px 0;
  }
}

@media (max-width: 545px) {
  .header__icon {
    max-width: 104px;
    max-height: 24px;
    margin: 0 0 18px 7px;
  }
}
